Autokaupparojekti/Autokauppa/Auto/Connected Services/kauppaservice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57430/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57430/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57430/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAutokauppa" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_connectDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:connectDatabase" />
  </wsdl:message>
  <wsdl:message name="IService1_connectDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:connectDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_saveAutoIntoDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:saveAutoIntoDatabase" />
  </wsdl:message>
  <wsdl:message name="IService1_saveAutoIntoDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveAutoIntoDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAutoMakersFromDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAutoMakersFromDatabase" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAutoMakersFromDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAutoMakersFromDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HaeValmisMalli_InputMessage">
    <wsdl:part name="parameters" element="tns:HaeValmisMalli" />
  </wsdl:message>
  <wsdl:message name="IService1_HaeValmisMalli_OutputMessage">
    <wsdl:part name="parameters" element="tns:HaeValmisMalliResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HaeValittuVäri_InputMessage">
    <wsdl:part name="parameters" element="tns:HaeValittuVäri" />
  </wsdl:message>
  <wsdl:message name="IService1_HaeValittuVäri_OutputMessage">
    <wsdl:part name="parameters" element="tns:HaeValittuVäriResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HaeValittuPolttoaine_InputMessage">
    <wsdl:part name="parameters" element="tns:HaeValittuPolttoaine" />
  </wsdl:message>
  <wsdl:message name="IService1_HaeValittuPolttoaine_OutputMessage">
    <wsdl:part name="parameters" element="tns:HaeValittuPolttoaineResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAutoModelsByMakerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutoModelsByMakerId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAutoModelsByMakerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutoModelsByMakerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HaeValmisMerkki_InputMessage">
    <wsdl:part name="parameters" element="tns:HaeValmisMerkki" />
  </wsdl:message>
  <wsdl:message name="IService1_HaeValmisMerkki_OutputMessage">
    <wsdl:part name="parameters" element="tns:HaeValmisMerkkiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HaePolttoaine_InputMessage">
    <wsdl:part name="parameters" element="tns:HaePolttoaine" />
  </wsdl:message>
  <wsdl:message name="IService1_HaePolttoaine_OutputMessage">
    <wsdl:part name="parameters" element="tns:HaePolttoaineResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_haeVari_InputMessage">
    <wsdl:part name="parameters" element="tns:haeVari" />
  </wsdl:message>
  <wsdl:message name="IService1_haeVari_OutputMessage">
    <wsdl:part name="parameters" element="tns:haeVariResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SeuraavaAutoTietokannassa_InputMessage">
    <wsdl:part name="parameters" element="tns:SeuraavaAutoTietokannassa" />
  </wsdl:message>
  <wsdl:message name="IService1_SeuraavaAutoTietokannassa_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeuraavaAutoTietokannassaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EdellinenAutoTietokannassa_InputMessage">
    <wsdl:part name="parameters" element="tns:EdellinenAutoTietokannassa" />
  </wsdl:message>
  <wsdl:message name="IService1_EdellinenAutoTietokannassa_OutputMessage">
    <wsdl:part name="parameters" element="tns:EdellinenAutoTietokannassaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_disconnectDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:disconnectDatabase" />
  </wsdl:message>
  <wsdl:message name="IService1_disconnectDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:disconnectDatabaseResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="connectDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/connectDatabase" message="tns:IService1_connectDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/connectDatabaseResponse" message="tns:IService1_connectDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveAutoIntoDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/saveAutoIntoDatabase" message="tns:IService1_saveAutoIntoDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/saveAutoIntoDatabaseResponse" message="tns:IService1_saveAutoIntoDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAutoMakersFromDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllAutoMakersFromDatabase" message="tns:IService1_GetAllAutoMakersFromDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllAutoMakersFromDatabaseResponse" message="tns:IService1_GetAllAutoMakersFromDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HaeValmisMalli">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HaeValmisMalli" message="tns:IService1_HaeValmisMalli_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HaeValmisMalliResponse" message="tns:IService1_HaeValmisMalli_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HaeValittuVäri">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HaeValittuVäri" message="tns:IService1_HaeValittuVäri_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HaeValittuVäriResponse" message="tns:IService1_HaeValittuVäri_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HaeValittuPolttoaine">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HaeValittuPolttoaine" message="tns:IService1_HaeValittuPolttoaine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HaeValittuPolttoaineResponse" message="tns:IService1_HaeValittuPolttoaine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAutoModelsByMakerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAutoModelsByMakerId" message="tns:IService1_GetAutoModelsByMakerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAutoModelsByMakerIdResponse" message="tns:IService1_GetAutoModelsByMakerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HaeValmisMerkki">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HaeValmisMerkki" message="tns:IService1_HaeValmisMerkki_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HaeValmisMerkkiResponse" message="tns:IService1_HaeValmisMerkki_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HaePolttoaine">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HaePolttoaine" message="tns:IService1_HaePolttoaine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HaePolttoaineResponse" message="tns:IService1_HaePolttoaine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="haeVari">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/haeVari" message="tns:IService1_haeVari_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/haeVariResponse" message="tns:IService1_haeVari_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeuraavaAutoTietokannassa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SeuraavaAutoTietokannassa" message="tns:IService1_SeuraavaAutoTietokannassa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SeuraavaAutoTietokannassaResponse" message="tns:IService1_SeuraavaAutoTietokannassa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EdellinenAutoTietokannassa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EdellinenAutoTietokannassa" message="tns:IService1_EdellinenAutoTietokannassa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EdellinenAutoTietokannassaResponse" message="tns:IService1_EdellinenAutoTietokannassa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="disconnectDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/disconnectDatabase" message="tns:IService1_disconnectDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/disconnectDatabaseResponse" message="tns:IService1_disconnectDatabase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="connectDatabase">
      <soap:operation soapAction="http://tempuri.org/IService1/connectDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveAutoIntoDatabase">
      <soap:operation soapAction="http://tempuri.org/IService1/saveAutoIntoDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAutoMakersFromDatabase">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllAutoMakersFromDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeValmisMalli">
      <soap:operation soapAction="http://tempuri.org/IService1/HaeValmisMalli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeValittuVäri">
      <soap:operation soapAction="http://tempuri.org/IService1/HaeValittuVäri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeValittuPolttoaine">
      <soap:operation soapAction="http://tempuri.org/IService1/HaeValittuPolttoaine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoModelsByMakerId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAutoModelsByMakerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaeValmisMerkki">
      <soap:operation soapAction="http://tempuri.org/IService1/HaeValmisMerkki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaePolttoaine">
      <soap:operation soapAction="http://tempuri.org/IService1/HaePolttoaine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="haeVari">
      <soap:operation soapAction="http://tempuri.org/IService1/haeVari" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeuraavaAutoTietokannassa">
      <soap:operation soapAction="http://tempuri.org/IService1/SeuraavaAutoTietokannassa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EdellinenAutoTietokannassa">
      <soap:operation soapAction="http://tempuri.org/IService1/EdellinenAutoTietokannassa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disconnectDatabase">
      <soap:operation soapAction="http://tempuri.org/IService1/disconnectDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:57430/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>